<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.com.broadlink.blappsdkdemo"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    
    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 摄像头相关权限 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    
    <!--相机权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".BLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".push.receiver.BLAliPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.device.DevProbeListActivity"
            android:launchMode="singleTask"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.RMDemoActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.SPDemoActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevConfigActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.h5.DeviceH5Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyDetailActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevMyDevListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.irCode.IRCodeMainActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.irCode.IRCodeBrandListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.irCode.IRCodeAcPairActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.irCode.IRCodeAcPanelActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.irCode.IRCodeTvOrBoxPanelActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevMainActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountSignUpActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountForgotPasswordActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountForgotPasswordResetActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountAndSecurityActivity"
            android:launchMode="singleTask"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountMainActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountUserNameLoginActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountVerifyCodeLoginActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountPasswordChangeActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyAddActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyRoomListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyModuleListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyCountrySelectActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyMemberListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyQrShareActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.family.FamilyScanQrActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.check.NetworkCheckActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.check.SDKCheckActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.check.DeviceCheckActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevApPairActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevAPManualConfigActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevMainMenuActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevDataPassThroughActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevDnaStdControlActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevFastconManageActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevTimerManageActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevGatewayManageActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevRmIrControlActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.h5.CommonModuleMoreActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.product.ProductConfigDetailActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.product.ProductBrandListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.product.ProductCategoryListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.ResetActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.plugin.VersionInfoActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.h5.DeviceAuthActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.product.GatewaySubProductCategoryListActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.irCode.IRCodeMatchTreeMainActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.irCode.IRCodeMatchTreeDetailActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.account.AccountModifyPhoneOrEmailActivity"
            android:theme="@style/ActivityStyle"/>
        <activity
            android:name=".activity.device.DevStressTestActivity"
            android:theme="@style/ActivityStyle"/>
    </application>

</manifest>